.container-fluid {
    background-color: #19440d;
    color: white;
}

.nav-link{
    color: white !important;
    margin: 0px 20px 0px 20px;
}
.nav-item {
    border-right: 1px solid;
}
a{
    cursor: pointer;
}

