<div class="container">
    <div *ngIf="loaderFlag" class="loader"></div>

    <div class="div">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="form-control btn-height" (click)="onClickReport()">Nashua Waste
                        Report</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="button" class="form-control btn-height" (click)="stockCheck()" value="status">Stock
                        Check All Order</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>From</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                            [(ngModel)]="fromDate" name="fromDate" [min]="minDate" [max]="maxDate"
                            [disabled]="disabled">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                            [disableMinute]="disableMinute" [hideTime]="hideTime">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>To</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date"
                            [(ngModel)]="toDate" name="toDate" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                            [disableMinute]="disableMinute" [hideTime]="hideTime">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <label>SALES STATUS</label>
            </div>
            <div class="col-md-3">
                <div *ngFor="let s of status">
                    <input type="checkbox" [(ngModel)]="s.checked"/>
                    <label>{{s.name}}</label>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="form-control btn-height" value="Ageing Inventory">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>HOME DELIVERY (HD) + <br>
                        Guaranteed shift life</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <select title="Pick a number" class="selectpicker">
                        <option>Select...</option>
                        <option>One</option>
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="reportFlag" style="margin-top: 40px;" class="div">
        <app-report></app-report>
    </div>
    <div *ngIf="stockFlag">
        <mat-progress-bar mode="determinate" [value]=progressValue></mat-progress-bar>
    </div>
</div>