<div class="container">
    <div *ngIf="loaderFlag" class="loader"></div>

    <div class="div">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button id="masterBtn" type="button" class="form-control btn-height"
                        (click)="clickEventHandler('masterPick')">
                        <span>MASTER PICK</span><br>
                        <span>(Pick Orders in Dear + Print Pick List + Print Packing Slips + Print Box Labels)</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="file">FILE</label><br>
                    <input type="file" id="fileMaster" (change)="onFilechange($event)"><br>
                    <span>Files must be .csv, containing at minimum, columns with headings: "Driver Name", "Stop Number"
                        (0 & 999 are Nashua), "Visit Name", "Order" (containing an order number), and "Phone"</span>
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button id="masterUpload" type="button" class="form-control btn-height"
                        (click)="onMasterPick('true')">Upload</button>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button id="printBtn" type="button" class="form-control btn-height"
                        (click)="clickEventHandler('test')">
                        <span>PRINT ONLY</span><br>
                        <span>(Print Pick List + Print Packing Slips + Print Box Labels)</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="file">FILE</label><br>
                    <input type="file" id="filePrint" (change)="onFilechange($event)"><br>
                    <span>Files must be .csv, containing at minimum, columns with headings: "Driver Name", "Stop Number"
                        (0 & 999 are Nashua), "Visit Name", "Order" (containing an order number), and "Phone"</span>
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button id="printUpload" type="button" class="form-control btn-height"
                        (click)="onPrintOnly('false')">Upload</button>
                </div>

            </div>
        </div>

    </div>
    <div *ngIf="stockFlag" style="position: relative;">
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        <span style="position: absolute; top: 0.5em;"
            [ngStyle]="{'left': progressValue + '%'}">{{progressValue}}%</span>
        <div *ngFor="let i of logs" style="text-align: center;">
            {{i}}
        </div>
    </div>
</div>